$button-color: #08CB7B;
$primary-color: #94CB53;
$secondary-color: black;
$underText-color: #cac8c8;
$bkground-color: #212733;
$card-color: #30405f;
$footer-color: #28344A;
$fifth-color: #ff9933;
$text-color: white;